@keyframes display-text {
    20%, 100% {
        display: none;
     }
}

/* Tablet */
@media (max-width: 1024px) {
  body {
    padding: 1rem 5rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  body {
    padding: 1rem 2rem;
  }
  
  .list {
    flex-direction: column;
    gap: 1rem;
  }
  
  .quotes {
    position: relative;
    max-width: 100%;
    text-align: right;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    padding: 1rem;
  }
}