.skill-container, span {  
  color: var(--txt-primary);
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color var(--transition-speed);
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}