a{
    color: black;
}

.tech-stack-section h1{
    margin-bottom: 0.5rem;
}

.front-end-stack span,
.back-end-stack span
.version-control-stack, span{  
  color: var(--txt-primary);
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color var(--transition-speed);
}

.front-end-stack{
    margin-bottom: 3rem;
}

.front-end-stack h2{
    margin-bottom: 0.5rem;
}

.back-end-stack{
    margin-bottom: 3rem;
}

.back-end-stack h2{
    margin-bottom: 0.5rem;
}

.version-control-stack{
    margin-bottom: 3rem;
}

.version-control-stack h2{
    margin-bottom: 0.5rem;
}